
<h1>Welcome <%=current_user.fname.to_s.humanize%> <%=current_user.lname.to_s.humanize%>!</h1>
<p>

</p>
<%= current_user.email %>

<% if current_user.admin == true %>
	<%= button_to "admin", admin_root_path, :method => :get %>
	<%= button_to "Send Messages", new_message_path, :method => :get %>
	<%= button_to "Group and Attendace Management", groups_path, :method => :get %>
	<%= button_to "track recall confirmations(If applicable)", messages_path, :method => :get %>
<%end%>


<% if current_user.leader == true || current_user.tracker == true %>
	<% if current_user.admin == false || current_user.admin == nil%>
	<%= button_to "Take/View Attendance", groups_path, :method => :get %>
	<%end%>
<% end %>

<%= button_to "Edit Profile", edit_user_registration_path, :method => :get %>
<%= button_to "logout", destroy_user_session_path, :method => :delete%>

<% %>
<% %>
<% %>
<% %>

<% @attendancept = Attendance.where(user_id: current_user.id, event: "PT")%>
<% @attendancellab = Attendance.where(user_id: current_user.id, event: "LLAB")%>


<br>Attendance Stats:<br>
Missed PT:
<%= @attendancept.count %>
<table>
<% @attendancept.each do |a|%>

	<th>
		Date missed:
	</th>
	<tr>
		<td>
			<%= a.created_at%>
		</td>
	</tr>

<% end %>
</table>
<br>
Missed LLAB:
<%= @attendancellab.count %>
<table>
<% @attendancellab.each do |a|%>

	<th>
		Date missed:
	</th>
	<tr>
		<td>
			<%= a.created_at%>
		</td>
	</tr>



<%end%>
</table>