<% if notice %>
<p id="notice">
	<%= notice %>
</p>
<% end %>

<h1>Homepage#index</h1>
<p>
	Find me in app/views/homepage/index.html.erb
</p>
<%= button_to "logout", destroy_user_session_path, :method => :delete%>
<%= current_user.email %>

<% if current_user.admin == true %>

<%= button_to "admin", admin_root_path, :method => :get %>
<%= button_to "recall", new_message_path, :method => :get %>
<%= button_to "create/manage groups", groups_path, :method => :get %>
<%= button_to "track confirmations(If applicable)", user_confirmations_path, :method => :get %>

<% elsif current_user.tracker == true %>
<% @leader = Group.find_by_users_id(current_user.id) rescue nil%>
<%if @leader != nil%>
<%= button_to "record attendance", attendances_path, :method => :get %>
<%end%>
<%end%>