<div class="row">

		<div class="panel-body" align="center">
			<h1>Welcome <%= current_user.fname.to_s.humanize%> <%= current_user.lname.to_s.humanize%>!</h1>

			<% if current_user.admin == true %>
			<%= button_to "Take/View Attendance", groups_path, :method => :get,:class => 'btn btn-primary btn-lg btn-block' %>
			<%end%>

			<% if current_user.leader == true || current_user.tracker == true %>
			<% if current_user.admin == false || current_user.admin == nil%>
			<%= button_to "Take/View Attendance", groups_path, :method => :get,:class => 'btn btn-primary btn-lg btn-block' %>
			<br>
			<%end%>
			<% end %>
			<br>
			<%= button_to "Log Out", destroy_user_session_path, :method => :delete,:class => 'btn btn-primary btn-lg btn-block'%>
			<br>
		</div>
			<div class="panel-body" align="center">
				<h2>Your Attendance Statistics:</h2>
				<% @attendancept = Attendance.where(user_id: current_user.id, event: "PT")%>
				<% @attendancellab = Attendance.where(user_id: current_user.id, event: "LLAB")%>
				<table class="table">
					<thead>
						<tr>
							<th>Missed PT: <%= @attendancept.count %></th>
							<th>Missed LLAB: <%= @attendancellab.count %></th>
						</tr>
					</thead>
					<tbody>

						<% @attendancept.each do |a|%>
						<tr>
							<td> <%= a.created_at.to_date.to_formatted_s(:long)%> </td>
						</tr>
						<% end %>

						<% @attendancellab.each do |a|%>
						<tr>
							<td> <%= a.created_at.to_date.to_formatted_s(:long)%> </td>
						</tr>
						<% end %>
					</tbody>
				</table>
		</div>

