<br>
<script>
	$(document).ready(function() {
		$('#maint').dataTable({
			paging : false
		});
	})

</script>

<br />
<br>
<div class="row">
	<div class="col-xs-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Information</h3>
			</div>
			<div class="panel-body">
				<h1>Welcome <%= current_user.fname.to_s.humanize%> <%= current_user.lname.to_s.humanize%>!</h1>
				<h2>Your Attendance Statistics:</h2>
				<table class="table table-striped table-bordered" id="maint">
					<thead>
						<tr>
							<th>Absences</th>
							<th>Tardies</th>
						</tr>
					</thead>
					<tbody class="table-bordered">
						<tr>
							<td>
							<table class = "table table-striped table-bordered">
								<tbody class="table-bordered">
									<%get_absence_events(current_user).each do |event|%>
									<tr>
										<td><b><%= get_absence_count(current_user, event)%></b> missed <%= event%> event(s). <a data-toggle="collapse" href="#1<%= current_user.fname+current_user.lname+(Event.find_by_event_name(event).id).to_s %>" aria-expanded="false" aria-controls="collapseExample">Details</a></td>
									</tr>
									<tr>
										<td>
										<div class="collapse" id="1<%= current_user.fname+current_user.lname+(Event.find_by_event_name(event).id).to_s %>">
											<div class="well">
												<table class="table table-striped">
													<tbody class="table-bordered">
														<%get_absence_days(current_user, event).each do |day|%>
														<tr class="info">
															<td> <%= day %> </td>
														</tr>
														<%end%>
													</tbody>

												</table>
											</div>
										</div></td>
									</tr>
									<%end%>
								</tbody>
							</table></td>

							<td>
							<table class="table table-striped table-bordered">
								<tbody class="table-bordered">
									<%get_tardy_events(current_user).each do |event|%>
									<tr>
										<td><b><%= get_tardy_count(current_user, event)%></b> tardy(ies) for <%= event%>. <a data-toggle="collapse" href="#2<%= current_user.fname+current_user.lname+(Event.find_by_event_name(event).id).to_s %>" aria-expanded="false" aria-controls="collapseExample">Details</a></td>
									</tr>
									<tr>
										<td>
										<div class="collapse" id="2<%= current_user.fname+current_user.lname+(Event.find_by_event_name(event).id).to_s %>">
											<div class="well">
												<table class="table table-striped  table-bordered">
													<tbody class="table-bordered">
														<%get_tardy_days(current_user, event).each do |day|%>
														<tr class="info">
															<td> <%= day %> </td>
														</tr>
														<%end%>
													</tbody>
												</table>
											</div>
										</div></td>
									</tr>
									<%end%>
								</tbody>
							</table></td>
						</tr>
					</tbody>
				</table>
				<br>
				<h2>Notifications:</h2>
				<% @unconfirmed = MessageList.where(users_id: current_user.id, confirmed_recall: false)%>
				<%if @unconfirmed.count >=1 %>
				<h4>You have <%= @unconfirmed.count%> unconfirmed messages!</h4>
				<table class="table">
					<thead>
						<tr>
							<th>Subject</th>
							<th>Date sent</th>
							<th>Confirm</th>
						</tr>
					</thead>
					<tbody>
						<%@unconfirmed.each do |a|%>
						<%if a.confirmed_recall == false%>
						<% @message = Message.find_by_id(a.messages_id)%>
						<tr>
							<td><%= @message.subject%></td>
							<td> <%= @message.created_at.to_date.to_formatted_s(:long)%> </td>
							<% conf = a.confirmed_recall%>
							<td>Not confirmed</td>
							<td><%= button_to 'Confirm Now', message_confirmation_path(a.messageconfirmtoken), :method=>:get, :class => 'btn btn-primary'%></td>
						</tr>
						<% end %>
						<% end %>
					</tbody>
				</table>
				<%else%>
				<h4>No notifications!</h4>
				<%end%>
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Navigation</h3>
			</div>
			<div class="panel-body" align="center">
				<% if current_user.admin == true || current_user.uberadmin == true%>
				<% if current_user.uberadmin == true%>
				<%= button_to "Active Admin Interface", admin_root_path, :method => :get,:class => 'btn btn-primary btn-lg btn-block' %>
				<br>
				<% end %>
				<%= button_to "Group and Attendace Management", groups_path, :method => :get,:class => 'btn btn-primary btn-lg btn-block' %>
				<br>
				<%= button_to "Send Group Messages", new_message_path, :method => :get,:class => 'btn btn-primary btn-lg btn-block' %>
				<br>
				<%= button_to "View and Track Messages", messages_path, :method => :get,:class => 'btn btn-primary btn-lg btn-block' %>
				<br>
				<%end%>

				<% if current_user.leader == true || current_user.tracker == true %>
				<% if current_user.admin == false || current_user.admin == nil%>
				<%= button_to "Take/View Attendance", groups_path, :method => :get,:class => 'btn btn-primary btn-lg btn-block' %>
				<br>
				<%end%>
				<% end %>
				<%= button_to "Message History", received_messages_path, :method => :get,:class => 'btn btn-primary btn-lg btn-block' %>
				<br>
				<%= button_to "Edit Profile", edit_user_registration_path, :method => :get,:class => 'btn btn-primary btn-lg btn-block' %>
				<br>
				<%= button_to "Log Out", destroy_user_session_path, :method => :delete,:class => 'btn btn-primary btn-lg btn-block'%>
				<br>
			</div>
		</div>
	</div>
</div>

