<br>

<br />
<br>
<div class="row">
	<div class="col-xs-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Information</h3>
			</div>
			<div class="panel-body">
				<h1>Welcome <%= current_user.fname.to_s.humanize%> <%= current_user.lname.to_s.humanize%>!</h1>
				<h2>Your Attendance Statistics:</h2>
		<% @attendancept = Attendance.where(user_id: current_user.id, event: "PT")+Attendance.where(user_id: current_user.id, event: "Alternate PT")%>
		<% @attendancellab = Attendance.where(user_id: current_user.id, event: "LLAB")+Attendance.where(user_id: current_user.id, event: "Alternate LLAB")%>
				<table class="table">
					<thead>
						<tr>
							<th>Missed PT: <%= @attendancept.count %></th>
							<th>Missed LLAB: <%= @attendancellab.count %></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
							<table>
								<% @attendancept.each do |a|%>
								<tr>
						<td> <%= a.created_at.to_date.to_formatted_s(:long)%><%if a.event == "Alternate PT"%> (<%=a.event%>)<%end%> </td>
								</tr>
								<% end %>
							</table></td><td>
							<table>
								<% @attendancellab.each do |a|%>
								<tr>
						<td> <%= a.created_at.to_date.to_formatted_s(:long)%><%if a.event == "Alternate LLAB"%> (<%=a.event%>)<%end%> </td>
								</tr>
								<% end %>
							</table></td>
						</tr>
					</tbody>
				</table>
				<br>
				<h2>Notifications:</h2>
				<% @unconfirmed = MessageList.where(users_id: current_user.id, confirmed_recall: false)%>
				<%if @unconfirmed.count >=1 %>
				<h4>You have <%= @unconfirmed.count%> unconfirmed messages!</h4>
				<table class="table">
					<thead>
						<tr>
							<th>Subject</th>
							<th>Date sent</th>
							<th>Confirm</th>
						</tr>
					</thead>
					<tbody>
						<%@unconfirmed.each do |a|%>
						<%if a.confirmed_recall == false%>
						<% @message = Message.find_by_id(a.messages_id)%>
						<tr>
							<td><%= @message.subject%></td>
							<td> <%= @message.created_at.to_date.to_formatted_s(:long)%> </td>
							<% conf = a.confirmed_recall%>
							<td>Not confirmed</td>
							<td><%= button_to 'Confirm Now', message_confirmation_path(a.messageconfirmtoken), :method=>:get, :class => 'btn btn-primary'%></td>
						</tr>
						<% end %>
						<% end %>
					</tbody>
				</table>
				<%else%>
				<h4>No notifications!</h4>
				<%end%>
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Navigation</h3>
			</div>
			<div class="panel-body" align="center">
				<% if current_user.admin == true || current_user.uberadmin == true%>
				<% if current_user.uberadmin == true%>
				<%= button_to "Active Admin Interface", admin_root_path, :method => :get,:class => 'btn btn-primary btn-lg btn-block' %>
				<br>
				<% end %>
				<%= button_to "Group and Attendace Management", groups_path, :method => :get,:class => 'btn btn-primary btn-lg btn-block' %>
				<br>
				<%= button_to "Send Group Messages", new_message_path, :method => :get,:class => 'btn btn-primary btn-lg btn-block' %>
				<br>
				<%= button_to "View and Track Messages", messages_path, :method => :get,:class => 'btn btn-primary btn-lg btn-block' %>
				<br>
				<%end%>

				<% if current_user.leader == true || current_user.tracker == true %>
				<% if current_user.admin == false || current_user.admin == nil%>
				<%= button_to "Take/View Attendance", groups_path, :method => :get,:class => 'btn btn-primary btn-lg btn-block' %>
				<br>
				<%end%>
				<% end %>
				<%= button_to "Message History", received_messages_path, :method => :get,:class => 'btn btn-primary btn-lg btn-block' %>
				<br>
				<%= button_to "Edit Profile", edit_user_registration_path, :method => :get,:class => 'btn btn-primary btn-lg btn-block' %>
				<br>
				<%= button_to "Log Out", destroy_user_session_path, :method => :delete,:class => 'btn btn-primary btn-lg btn-block'%>
				<br>
			</div>
		</div>
	</div>
</div>

