<script>
	$(document).ready(function() {
		$('select').selectpicker();
	});

	$(document).ready(function() {
		$("[class='wipe']").hide();
		var selected = $("select#event").find("option:selected").text();
		$("[id='" + selected + "']").show();
		$("[id='" + selected + "']").on('focusout', function() {

			var input = $(this).find("input").val();
			$('input[type=number]').val(input)
		})
		$("select#event").on('change', function() {
			$("[class='wipe']").hide();
			var selected = $(this).find("option:selected").text();
			$("[id='" + selected + "']").show();
			$("[id='" + selected + "']").on('focusout', function() {

				var input = $(this).find("input").val();
				$('input[type=number]').val(input)
			})
		});
	}); 
</script>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Attendance Policy Rule From</h3>
	</div>
	<div class="panel-body">
		<div class="container">

			<body>
				<a data-toggle="collapse" class='text-muted' data-parent="#accordion" href="#accordionThree">
				<p class='text-muted'>
					Detailed Instructions (Please read first if doing this first time!)

				</p></a>

				<div id="accordionThree" class="panel-collapse collapse">
					<div class="panel-body">
						<h4> Field and Options Definitions: </h4>
						<p>
							~Add excuse - Select type of excuse being granted.
						</p>
						<p>
							~Select users - Select users. You may select multiple users however they all must have same excuse parameters.
						</p>
						<p>
							~Select PT/LLAB days - Select the days user or a group of users are excused for. If you choose PT excuse from add excuse panel only select PT days otherwise no excuse will be added.
						</p>

					</div>
				</div>
				<%= form_for(@attendance_policy) do |f| %>

				<div>
					<%= f.label "Event" %>
					<%= f.select(:event, options_for_select(get_events),{}, { :class => 'form-control', :id => 'event'})%>
					<%if any_errors(@attendance_policy, :event) != nil%>
					<%= any_errors(@attendance_policy, :event) %>
					<%end%>
				</div>
				<div>
					<%= f.label "Group Applied To:" %>
					<br>
					<%= f.select(:groups_id, options_for_select(Group.all.collect {|u| [u.name, u.id]}), {data:{live_search: "true"},:class => 'form-control', :multiple => false, :include_blank => 'All'})%>
					<%if any_errors(@attendance_policy, :groups_id) != nil%>
					<%= any_errors(@attendance_policy, :groups_id) %>
					<%end%>
				</div>
				<% Event.all.each do |event| %>
				<div id="<%= event.event_name%>" class="wipe">
					<%= f.label "Absence Milestone" %>
					<%= f.number_field :absence_milestone, in: 0..event.absence_max.to_i, class: 'form-control' %>
					<%if any_errors(@attendance_policy, :absence_milestone) != nil%>
					<%= any_errors(@attendance_policy, :absence_milestone) %>
					<%end%>

				</div>
				<%end%>
				<div>
					<%= f.label "Action" %>
					<%= f.select(:action, options_for_select([["SMS Notify"], ["Email Notify"], ["Email+SMS Notify"], ["Notify User and Supervisor(Group leader) Email"],["Notify User and Supervisor(Group leader) SMS"], ["Notify User and Supervisor(Group leader) Email + SMS "]]),{}, { :class => 'form-control'})%>
					<%if any_errors(@attendance_policy, :action) != nil%>
					<%= any_errors(@attendance_policy, :action) %>
					<%end%>
				</div>

				<div>
					<%= f.label "Additional Users" %>
					<%= f.select(:additional_users, options_for_select(User.all.collect {|u| [(u.fname+" "+u.lname), u.id]}),{}, { data: {live_search: "true"},  :include_blank => true, :multiple => true, :class => 'form-control'})%>
					<%if any_errors(@attendance_policy, :action) != nil%>
					<%= any_errors(@attendance_policy, :action) %>
					<%end%>
				</div>

				<div>
					<%= f.label "Custom Message" %>
					<%= f.text_area :message, :class=>'form-control'%>
					<%if any_errors(@attendance_policy, :message) != nil%>
					<%= any_errors(@attendance_policy, :message) %>
					<%end%>
				</div>
				<div class="actions">
					<%= submit_tag "Add Another Milestone", :class => 'btn btn-primary custombtnblock'  %>
					<%= link_to 'Done', groups_path, :class => 'btn btn-default' %>
				</div>
				<% end %>
		</div>
		</body>
	</div>
</div>
</div>

