<h1>Confirm recall message</h1>

<%= form_for @user, :url => validate_message_path(params[:id]) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
      <%=  @message %>
  </div>
  <div class="field">
    <%= f.label :enterd_message %>
    <%= f.text_field :entered_message %>
  </div>
  </div>
  <div class="actions"><%= f.submit "YOU BREAK IT NOW!" %></div>
<% end %>