<h1>Listing messages</h1>

<table>
	<thead>
		<tr>
			<th colspan="4"></th>
		</tr>
	</thead>

	<tbody>
		<% @messages.each do |message| %>
		<tr>
			<td><%= message.id %></td>
			<%if message.confirm == "Confirmation"%>
			<td><%= link_to 'Track Confirmations/Details', message %></td>
			<% else %>
			<td><%= link_to 'Details', message %></td>
			<% end %>
			<% if message.all_confirm == true%>
			<td>All Confirmed</td>
			<% else %>
			<td>In Progress</td>
			<% end %>
			<%if current_user.admin == true %>
			<td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
