<p id="notice">
	<%= notice %>
</p>

<%
 @message = Message.find_by_id(params[:id])
  @group = @message.groups_id rescue nil
  if @group != nil
    @groupusers = InGroup.where(groups_id: @group)
    @users = Array.new
    @groupusers.each do |u|
      @users << User.find_by_id(u.users_id)
    end
  else
    @users = User.all
  end
%>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Details</h3>
	</div>
	<div class="panel-body">
		<%if @message.confirm != 'No Confirmation'%>
		<h1>Subject: <%=@message.subject%></h1>
		<h2> Message Content:
		<%= @message.messages%> </h2>

		<% if @message.all_confirm == true %>
		<h3>Time taken: <%= Time.at(@message.all_confirm_time - @message.created_at).utc.strftime("%H:%M:%S")%></h3>
		<%else%>
		<h3>Confirmation in progress...</h3>

		<% end %>

		<table class='table'>
			<th> Recipients: </th>
			<%if @message.confirm == "Confirmation"%>
			<th> Confirmation status: </th>
			<th> Confirmation time: </th>
			<% end %>
			<%@users.each do |user|%>
			<% @msgl = MessageList.find_by(users_id: user.id, messages_id: @message.id) %>
			<tr>
				<td> <%= user.email%> </td>
				<%if @message.confirm == "Confirmation"%>

				<%if @msgl.confirmed_recall == true%>
				<td>Confirmed</td>
				<%else%>
				<td>Not Confirmed</td>
				<%end%>
				<%if @msgl.confirmed_time ==nil%>
				<td>N/A</td>
				<%else%>
				<td><%= @msgl.confirmed_time.to_datetime.to_formatted_s(:long)%> </td>
				<%end%>
				<% end %>
			</tr>
			<%end%>
			<%else%>
			
			
			
			
			<h1>Subject: <%=@message.subject%></h1>
		<h2> Message Content:
		<%= @message.messages%> </h2>

		<table class='table'>
			<th> Recipients: </th>
			<th>Time sent:</th>
			
			<%@users.each do |user|%>
			<% @msgl = MessageList.find_by(users_id: user.id, messages_id: @message.id) %>
			<tr>
				<td> <%= user.email%> </td>
				<td><%= msgl.confirmed_at.to_datetime.to_formatted_s(:long)%></td>
			</tr>
			
			<%end%>
		</table>
	</div>
</div>
