<p id="notice">
	<%= notice %>
</p>

<%
 @message = Message.find_by_id(params[:id])
  @group = @message.groups_id rescue nil
  if @group != nil
    @groupusers = InGroup.where(groups_id: @group)
    @users = Array.new
    @groupusers.each do |u|
      @users << User.find_by_id(u.users_id)
    end
  else
    @users = User.all
  end
%>

<h1> Message Content:
<%= @message.messages%> </h1>

<% if @message.all_confirm == true %>
<h1>All Confirmed Time: <%= @message.all_confirm_time - @message.created_at%></h1>
<%else%>
<h1>Confirmations in progress...</h1>

<% end %>

<h2>Recipients:</h2>
<table>
	<th> Email: </th>
	<%if @message.confirm == "Confirmation"%>
	<th> Confirmation status: </th>
	<th> Confirmation time: </th>
	<% end %>
	<%@users.each do |user|%>
	<% @msgl = MessageList.find_by(users_id: user.id, messages_id: @message.id) %>
	<tr>
		<td> <%= user.email%> </td>
		<%if @message.confirm == "Confirmation"%>
		<td> <%= @msgl.confirmed_recall%> </td>
		<td> <%= @msgl.confirmed_time%> </td>
		<% end %>
	</tr>
	<%end%>
</table>
<%= button_to "Home", authenticated_root_path, :method => :get %>
<%= link_to 'Back', messages_path %>
