<div class="panel panel-primary">
	<div class="panel-heading">
		Resend Confirmation Instructions
	</div>
	<div class="panel-body">
		<body id="content" role="main">
			<div class="container">

				<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

				<div>

					<%= f.text_field :email, :class => 'form-control', :placeholder => 'Email (Must be deliverable)'%>
					<%if devise_error_messages!(:email) !=nil%>
					<%= devise_error_messages!(:email) %>
					<%end%>
					<br>
				</div>

				<div>
					<%= f.submit "Submit",:class => 'btn btn-primary btn-lg custombtnblock' %>
					<br>
					<br>
					<%= link_to "Front Page", new_session_path(resource_name),:class => 'btn btn-default btn-lg custombtnblock' %>
					<br />
				</div>
				<% end %>

				</br>
			</div>
		</body>
	</div>
</div>

