<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
<div>
	<%= f.label "First Name:" %>
	<br />
	<%= f.text_field :fname, autofocus: true %>
</div>

<div>
	<%= f.label "Last Name:" %>
	<br />
	<%= f.text_field :lname%>
</div>

<div>
	<%= f.label "Email:" %> <i>(Must be deliverable)</i>
	<br />
	<%= f.email_field :email%>
</div>

<div>
	<%= f.label "10 Digit Phone Number:" %>
	<br />
	<%= f.phone_field :phone%>
</div>

<div>
	<%= f.label "Carrier" %> 
	<br />
	<%= f.select :carrier, options_for_select(["AT&T","Verizon", "Boost Mobile", "Cellular One", "Metro PCS", "Nextel", "Sprint", "T-Mobile", "Tracfone"]),autocomplete: "off" %>
</div>

<div>
	<%= f.label "Password" %> <i>(Must be at least 8 alpha-numeric characters)</i>
	<br />
	<%= f.password_field :password, autocomplete: "off" %>
</div>

<div>
	<%= f.label "Confirm Password:" %>
	<br />
	<%= f.password_field :password_confirmation, autocomplete: "off" %>
</div>

<br>
<br>
<div>
	<%= f.submit "Sign up" %>
</div>
<% end %>

<%= render "devise/shared/links" %>
