</br>

<div class="panel panel-primary">
	<div class="panel-heading">
		Sign Up
	</div>
	<div class="panel-body">
		<body id="content" role="main">
			<div class="container">
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

				<div>
					<%= f.text_field :fname, autofocus: true, :class => 'form-control', :placeholder => 'First Name' %>
					<%if devise_error_messages!(:fname) !=nil%>
					<%= devise_error_messages!(:fname) %>
					<%end%>
					<br>
				</div>

				<div>
					
					<%= f.text_field :lname, :class => 'form-control', :placeholder => 'Last Name'%>
					<%if devise_error_messages!(:lname) != nil%>
					<%= devise_error_messages!(:lname) %>
					<%end%>
					<br>
				</div>

				<div>
				
					<%= f.text_field :email, :class => 'form-control', :placeholder => 'Email (You will have to confirm the email address before logging in, so be sure it is a real one!)'%>
						<%if devise_error_messages!(:email) !=nil%>
					<%= devise_error_messages!(:email) %>
					<%end%>
					<br>
				</div>

				<div>
					
					<%= f.phone_field :phone, :class => 'form-control', :placeholder => '10 Digit Phone Number:'%>
					<%if devise_error_messages!(:phone) !=nil%>
					<%= devise_error_messages!(:phone) %>
					<%end%>
					<br>
				</div>

				<div>
					
					<%= f.select(:carrier, options_for_select([["AT&T"], ["Verizon"], ["Boost Mobile"],["Cellular One"],["Nextel"],["Sprint"],["T-Mobile"],["Tracfone"],["Metro PCS"] ]),{:include_blank => true}, { :class => 'form-control'})%>
					<%if devise_error_messages!(:carrier) != nil%>
					<%= devise_error_messages!(:carrier) %>
					<%end%>
					<br>
				</div>

				<div>
				
					<%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'Password (Must be at least 8 alpha-numeric characters)' %>
						<%if devise_error_messages!(:password) !=nil%>
					<%= devise_error_messages!(:password) %>
					<%end%>
					<br>
				</div>

				<div>
					
					<%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', :placeholder => 'Confirm Password:' %>
					<%if devise_error_messages!(:password_confirmation) !=nil%>
					<%= devise_error_messages!(:password_confirmation) %>
					<%end%>
					<br>
				</div>

				<div>
					<%= f.submit "Sign up",:class => 'btn btn-primary btn-lg custombtnblock' %>
					<br>
					<br>
					<%= link_to "Front Page", new_session_path(resource_name),:class => 'btn btn-default btn-lg custombtnblock' %>
					<br />
				</div>
				<% end %>
			</div>
		</body>
	</div>
</div>
</div>

<script>
	$(document).ready(function() {
		$('select').selectpicker();
	}); 
</script>