<%= form_for(@group) do |f| %>
<% if @group.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

	<ul>
		<% @group.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<%
  @group= Group.find params[:id]
  @ingroup = InGroup.where(groups_id: @group.id)
  @users = User.all
  @usersnotingroup = Array.new
  @users.each do |u|
    @notin = InGroup.find_by(users_id: u.id, groups_id: @group.id) rescue nil
    if @notin == nil
      @usersnotingroup << User.find_by_id(u.id)
    end
  end
  @usersingroup= Array.new
  @ingroup.each do |ig|
    @usersingroup << User.find_by_id(ig.users_id)
  end
%>

<div>
	<%= f.text_field :name%>
</div>
<div>
	<%= f.label "Select Users to add" %>
	<br>
	<%= select_tag :user_ids, options_for_select(@usersnotingroup.collect {|u| [u.email, u.id]}),:multiple => true, :name=>'project[user_ids][]' %>
	<br>
	<%= f.label "Select Users to remove" %>
	<br>
	<%= select_tag :user_remove, options_for_select(@usersingroup.collect {|u| [u.email, u.id]}),:multiple => true, :name=>'project[user_remove][]' %>
	<br>
	<br>
	<%= f.label "Change group leader" %>
</div>

<div>
	<%= select_tag :user_id, options_for_select(@usersingroup.collect {|u| [u.email, u.id]}),:multiple => false, :prompt => 'Select group leader', :name=>'project[user_id][]' %>
</div>
<br>


<%= render '/in_groups/show_members', :id => @group.id %>

<div class="actions">
	<%= f.submit %>
</div>
<% end %>