<div class="panel panel-primary">
	<div class="panel-heading">
		Edit Group
	</div>
	<div class="panel-body">
		<%= form_for(@group) do |f| %>
		<% if @group.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

			<ul>
				<% @group.errors.full_messages.each do |message| %>
				<li>
					<%= message %>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<%
 @group= Group.find params[:id]
      @ingroup = InGroup.where(groups_id: @group.id)
      @users = User.all
      @usersnotingroup = Array.new
      @users.each do |u|
        @notin = InGroup.find_by(users_id: u.id, groups_id: @group.id) rescue nil
        if @notin == nil
          @usersnotingroup << User.find_by_id(u.id)
        end
      end
      @usersingroup= Array.new
      @ingroup.each do |ig|
        @usersingroup << User.find_by_id(ig.users_id)
      end

%>

		<div>
			<%= f.label "Name" %><i>  ~Leave it be if not updating it</i>
			<br>
			<%= f.text_field :name, :class=>'form-control'%>
		</div>
		<div>
			<%if @group.grouptype=='Attendance'%>
			<%= f.label "Select days for which PT attendance is to be taken" %><i>  ~You will not be able to take PT attendance otherwise</i>
			<br>
			<%= select_tag(:ptdays, options_for_select([["Monday"], ["Tuesday"], ["Wednesday"], ["Thursday"],["Friday"], ["Saturday"], ["Sunday"]]), { :class => 'form-control', :name => 'project[ptdays][]',  :multiple => true})%>
			<br>
			<%= f.label "Select days for which LLAB attendance is to be taken" %><i>  ~You will not be able to take LLAB attendance otherwise</i>
			<br>
			<%= select_tag(:llabdays, options_for_select([["Monday"], ["Tuesday"], ["Wednesday"], ["Thursday"],["Friday"], ["Saturday"], ["Sunday"]]), { :class => 'form-control', :name => 'project[llabdays][]',  :multiple => true})%>
			<br>
			<%end%>
			<%if @group.grouptype != 'Attendance'%>
			<%= f.label "Select Users to add" %> <i>  ~Will allow you to add users that are not in this group</i>
			<br>
			<%= select_tag(:user_ids, options_for_select(@usersnotingroup.collect {|u| [u.email, u.id]}),{:class => 'form-control', :multiple => true, :name=>'project[user_ids][]'}) %>
			<br>
			<%else%>
			<%= f.label "Select Users to add" %> <i>  ~Will allow you to add users that are not in this group</i>
			<br>
			<%= select_tag(:user_ids, options_for_select(not_assigned_to_attendance_group.collect {|u| [u.email, u.id]}),{:class => 'form-control', :multiple => true, :name=>'project[user_ids][]'}) %>
			<%end%>
			<%= f.label "Select Users to remove (users in this group)" %> <i>  ~Will allow you to remove users from this group</i>
			<br>
			<%= select_tag(:user_remove, options_for_select(@usersingroup.collect {|u| [u.email, u.id]}),{:class => 'form-control', :multiple => true, :name=>'project[user_remove][]'}) %>
			<br>


			<%= f.label "Change group leader (User must already be in group)" %> <i>  ~Has to be a member already. Leave blank if not updating</i>
			<br />
			<%= select_tag(:user_id, options_for_select(@usersingroup.collect {|u| [u.email, u.id]}),{:class => 'form-control',:multiple => false, :name=>'project[user_id][]'}) %>

			<div class="actions">
				<%= f.submit "Update Group", :class=>'btn btn-primary' %>
			</div>
			<% end %>
		</div>
	</div>

	<script>
		$(document).ready(function() {
			$('select').selectpicker();
		});
	</script>
