<%
 @ptgroup = Group.find_by(grouptype: 'Alternate PT Attendance') rescue nil
  @llabgroup = Group.find_by(grouptype: 'Alternate LLAB Attendance') rescue nil
  @ptflag = false
  @llabflag = false

  if @ptgroup == nil
    @ptflag = true
  end

  if @llabgroup == nil
    @llabflag = true
  end
%>

<div class="panel panel-primary">
	<div class="panel-heading">
		New Group
	</div>
	<div class="panel-body">
		<body id="content" role="main">
			<div class="container">

				<a data-toggle="collapse" class='text-muted' data-parent="#accordion" href="#accordionThree">
				<p class='text-muted'>
					Detailed Instructions
				</p></a>
				<div id="accordionThree" class="panel-collapse collapse">
					<div class="panel-body">
						<h4> Field and Options Definitions: </h4>
						<p>
							~Name - Input group name here. If left blank the group will not have a name. You may update it at any time.
						</p>
						<p>
							~Group type - Select what kind of group you are creating.
						</p>
						<p>
							~~Attendance - Standard attendance group.
						</p>
						<p>
							~~Alternate PT or LLAB - Special type attendance group for alternate PT/LLAB authorised users.
						</p>
						<p>
							~~Non attendance - Group type for users that have nothing to do with taking attendance but need to be able to see attendance of certain users. Example can be a FLT/CC or SQ/CC etc.
						</p>

					</div>

				</div>
				<%= form_for(@group) do |f| %>
				<div>
					<%= f.label "Name" %>
					<br>
					<i> ~Name your group</i>
				</div>
				<div>
					<%= f.text_field :name, :class => 'form-control'%>
					<%if any_errors(@group, :name) != nil%>
					<%= any_errors(@group, :name) %>
					<%end%>
				</div>
				<div>
					<%= f.label "Select group type" %>
					<br>
					<i> ~Attendance is for attendance tracking and Non-Attendance is everything else</i>
				</div>
				<div>
					<%= f.select(:grouptype, options_for_select(populate_new_groups),{}, { :class => 'form-control', :id => 'type_dd'})%>
				</div>
				
				<div>
					<%f.check_box :unique_user_group%>
					<% f.label "Unique Users"%><br />
					<!--<i>Select this box if you want for the system to only allow you to add users not belonging to attendance group to this group (Not applicable to Non-Attendance)</i>
					
				</div>-->

				<br>

				<div class="actions">
					<%= f.submit "Create Group", :class=>'btn btn-primary' %>
				</div>
				<% end %>
				<br>

			</div>
	</div>

	<script>
		$(document).ready(function() {
			$('select').selectpicker();
		});
	</script>
