<%
 def today(group) #Script that determines if today is one of the days attendance is allowed to be taken on
    @availabledays = group.event_days.split("::")
    @flag = false
    @availabledays.each do |a|
      if Time.now.strftime("%A") == a
        @flag = false
      break
      else
        @flag = true
      end
    end
    return @flag
  end
%>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Groups</h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<% if current_user.admin == nil || current_user.admin == false%>
				<th>Group Name</th>
				<th>Show</th>
				<th>Record Attendance</th>

				<% end %>

				<%if  current_user.admin == true %>
				<th>Group Name</th>
				<th>Show</th>
				<th>Record Attendance</th>

				<%end%>
			</thead>
			<tbody>

				<% @groups.each do |group| %>
				<% if group.users_id == current_user.id%>
				<% if current_user.admin == nil || current_user.admin == false%>
				<tr>
					<td><%= group.name %></td>
					<td><%= link_to 'Show', group ,:class=>'btn btn-info'%></td>
					<% if current_user.tracker == true%>
					<% if group.grouptype == 'Attendance' %>

					<%if today(group) == true%>
					<td><%= link_to 'Record', new_attendance_path(:group_id => group.id), :class=>'btn btn-primary' %></td>
					<%else%>
					<td><%= link_to 'Not Today!', authenticated_root_path, :class=>'btn btn-primary', :disabled => true %></td>
					<% end %>

					<% end %>

					<% end %>
					<td></td>
					<td></td>
					<% end %>
					<% end %>
				</tr>
				<%if  current_user.admin == true || current_user.uberadmin==true %>
				<tr>
					<td><%= group.name %></td>
					<td><%= link_to 'Show', group, :class => 'btn btn-info' %></td>
					<% if group.grouptype == 'Attendance'%>
<%if today(group) == true%>
					<td><%= link_to 'Record', new_attendance_path(:group_id => group.id), :class=>'btn btn-primary' %></td>
					<%else%>
					<td><%= link_to 'Not Today!', authenticated_root_path, :class=>'btn btn-primary', :disabled => true %></td>
					<% end %>
					<% else %>
					<td><%= link_to 'Attendance', authenticated_root_path, :class => 'btn btn-primary', :disabled => true %></td>
					<td></td>
					<%end%>
					<% end %>

				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

