<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Groups</h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>

				<% if current_user.admin == nil || current_user.admin == false%>
				<th>Group Name</th>
				<th>Group Type</th>
				<th>Group Leader</th>
				<th colspan='3'>Controls</th>
				<% end %>

				<%if  current_user.admin == true %>
				<th>Group Name</th>
				<th>Group Type</th>
				<th>Group Leader</th>
				<th colspan="7">Controls</th>

				<%end%>
			</thead>
			<tbody>

				<% @groups.each do |group| %>
				<% if group.users_id == current_user.id%>
				<% if current_user.admin == nil || current_user.admin == false%>
				<tr>
					<td><%= group.name %></td>
					<td><%= group.grouptype %></td>
					<td><%= User.find_by_id(group.users_id).email %></td>
					<td><%= link_to 'Show Members', group ,:class=>'btn btn-info'%></td>
					<% if current_user.tracker == true%>
					<% if group.grouptype == 'Attendance' %>
					<%if today(group) == true%>
					<td><%= link_to 'Take attendance', new_attendance_path(:group_id => group.id), :class=>'btn btn-primary' %></td>
					<%else%>
					<td><%= link_to 'Take attendance(Not Today!)', authenticated_root_path, :class=>'btn btn-primary', :disabled => true %></td>
					<% end %>
					<% end %>
					<% end %>
					<td></td>
					<td></td>
					<% end %>
					<% end %>
				</tr>
				<%if  current_user.admin == true || current_user.uberadmin == true %>
				<%if group.users_id ==  nil%>
				<tr bgcolor="#FFFF19">
					<%else%>
				<tr>
					<%end%>
					<td><%= group.name %></td>
					<td><%= group.grouptype %></td>
					<%if group.users_id ==  nil%>
					<td>This group does not have a leader. Please add some users to the group then assign one under "Manage Group".</td>
					<%else%>
					<td><%= User.find_by_id(group.users_id).email %></td>
					<%end%>
					<td><%= link_to 'Show Members', group, :class => 'btn btn-info' %></td>
					<td><%= link_to 'Manage Group', edit_group_path(group), :class => 'btn btn-warning' %></td>
					<% if group.grouptype == 'Attendance'%>
					<%if today(group) == true%>
					<td><%= link_to 'Take attendance', new_attendance_path(:group_id => group.id), :class=>'btn btn-primary' %></td>
					<%else%>
					<td><%= link_to 'Take attendance(Not Today!)', authenticated_root_path, :class=>'btn btn-primary', :disabled => true %></td>
					<% end %>
					<td><%= link_to 'Adjust Attendance', attendances_path(:attgroup_id => group.id), :class => 'btn btn-danger' %></td>
					<% else %>
					<td><%= link_to 'Take Attendance', new_attendance_path(:group_id => group.id), :class => 'btn btn-primary', :disabled => true %></td>
					<td><%= link_to 'Adjust Attendance', attendances_path(:attgroup_id => group.id), :class => 'btn btn-danger', :disabled => true %></td>

					<% end %>
					<td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>

					<% end %>

				</tr>
				<% end %>
			</tbody>
		</table>
		<% @att = Attendance.where(groups_id: nil) rescue nil%>
		<% if current_user.admin == true %>

		<%= link_to 'New Group', new_group_path, :class => 'btn btn-primary' %>
		<% if @att.count >= 1%>
		<%= link_to 'Non-group attendance found! Click here!', attendances_path, :class => 'btn btn-danger'%>
		<%end%>
		<% end %>
	</div>
</div>

