<script>
	$(document).ready(function() {
		$('.table').dataTable();
	})

</script>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Event List</h3>
	</div>
	<div class="panel-body">
		<table class='table table-striped table-bordered'>
			<thead>
				<tr>
					<th>Event Name</th>
					<th>Max Absences</th>
					<th>Max Tardies</th>
					<th>Attendance Days</th>
					<th>Absence Notifications</th>
					<th>Edit</th>
					<th>Destroy</th>
				</tr>
			</thead>
			<tbody>
				<% @events.each do |event| %>
				<tr>
					<td><%= event.event_name%></td>
					<td><%= event.absence_max%></td>
					<td><%= event.max_tardies%></td>
					<td><%= event.event_days%></td>
					<td><%= event.notification_type%></td>
					<td><%= link_to 'Edit', edit_event_path(event),:class => "btn btn-warning btn-block" %></td>
					<td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to 'New Event', new_event_path, :class => "btn btn-primary" %>
		<%= link_to 'Back', groups_path, :class => "btn btn-default"%>
	</div>
</div>

