<div class="panel panel-primary">
	<div class="panel-heading">
		Group Details
	</div>
	<div class="panel-body">
		<%
		@group_members = InGroup.where(:groups_id => params[:id])
		@group = Group.find_by_id(params[:id])
		@group_members.all.each do |u| %>
		<% @user = User.find(u.users_id) %>
		<% @u = Group.find_by(users_id: @user.id, id: params[:id]) rescue nil %>
		<% attendancept = Attendance.where(user_id: @user.id, event: "PT")%>
		<% attendancellab = Attendance.where(user_id: @user.id, event: "LLAB")%>
		<% @ptdays = @group.ptdays.split("::")
      @ptstring = ""
      @ptdays.each do |day|
        @ptstring = @ptstring+", "+day
      end
      @llabdays = @group.llabdays.split("::")
      @llabstring = ""
      @llabdays.each do |day|
        @llabstring = @llabstring+", "+day
      end
%>

		<div class="row">
			<div class="col-md-4">

				<table class='table'>

					<tr>
						<%if @u != nil%>
						<th><%= @user.fname+ " " +@user.lname %>
						<br>
						<%= @user.email %>
						<br>
						(Leader)</th>
						<%else%>
						<th><%= @user.fname+ " " +@user.lname %>
						<br>
						<%= @user.email %>
						<br>
						(Member)</th>						<%end%>

					</tr>

				</table>
			</div>
			<div class="col-md-4">
				<table class='table'>
					<th>Missed PT: <%= attendancept.count %></th>
					<% attendancept.each do |a|%>
					<tr>
						<td> <%= a.created_at.to_date.to_formatted_s(:long)%> </td>

						<% end %>
					</tr>

				</table>
			</div>
			<div class="col-md-4">
				<table class='table'>
					<th>Missed LLAB: <%= attendancellab.count %></th>
					<tr>
						<% attendancellab.each do |a|%>
						<td> <%= a.created_at.to_date.to_formatted_s(:long)%> </td>
					</tr>
					<% end %>
				</table>
			</div>
		</div>
		<%end%>

	</div>

</div>
<div class="panel panel-warning">
	<div class="panel-heading">
		Attendance Days: (Debugging purposes... if empty and this is an attendance group please update the days under Manage Group)
	</div>
	<div class="panel-body">

		<h5>PT Days: <%= @ptstring%></h5>
		<h5>LLAB Days: <%= @llabstring%></h5>
	</div>
</div>

