<script>

$(document).ready(function() {
$('#maint').dataTable();
})

</script>




<div class="panel panel-primary">
	<div class="panel-heading">
		Group Details
	</div>
	<div class="panel-body">

		<table class="table table-striped table-bordered" id="maint">
			<thead>
				<tr>

					<th>Name</th>
					<th>Absences</th>
					<th>Tardies</th>

				</tr>
			</thead>
			<tbody class="table-bordered">
				<%get_users_for_group(params[:id]).each do |u|%>
				<tr>
					<td> <%= u.fname%> <%= u.lname%></td>

					<td>
					<table class = "table table-striped table-bordered">
						<tbody class="table-bordered">
							<%get_absence_events(u).each do |event|%>
							<tr>
								<td><b><%= get_absence_count(u, event)%></b> missed <%= event%> event(s). <a data-toggle="collapse" href="#1<%= u.fname+u.lname+eventa.gsub!(/[^0-9A-Za-z]/, '') %>" aria-expanded="false" aria-controls="collapseExample">Details</a></td>
							</tr>
							<tr>
								<td>
								<div class="collapse" id="1<%= u.fname+u.lname+event %>">
									<div class="well">
										<table class="table table-striped table-bordered">
											<tbody class="table-bordered">
												<%get_absence_days(u, event).each do |day|%>
												<tr class="info">
													<td> <%= day %> </td>
												</tr>
												<%end%>
											</tbody>

										</table>
									</div>
								</div></td>
							</tr>
							<%end%>
						</tbody>
					</table></td>

					<td>
					<table class="table table-striped table-bordered">
						<tbody class="table-bordered">
							<%get_tardy_events(u).each do |event|%>
							<tr>
								<td><b><%= get_tardy_count(u, event)%></b> tardy(ies) for <%= event%>. <a data-toggle="collapse" href="#2<%= u.fname+u.lname+eventa.gsub!(/[^0-9A-Za-z]/, '') %>" aria-expanded="false" aria-controls="collapseExample">Details</a></td>
							</tr>
							<tr>
								<td>
								<div class="collapse" id="2<%= u.fname+u.lname+event %>">
									<div class="well">
										<table class="table table-striped table-bordered">
											<tbody class="table-bordered">
												<%get_tardy_days(u, event).each do |day|%>
												<tr class="info">
													<td> <%= day %> </td>
												</tr>
												<%end%>
											</tbody>
										</table>
									</div>
								</div></td>
							</tr>
							<%end%>
						</tbody>
					</table></td>
				</tr>
				<%end%>
			</tbody>
		</table>
	</div>
</div>
