<table>
	<%
	@group_members = InGroup.where(:groups_id => params[:id])

	@group_members.all.each do |u| %>
	<% @user = User.find(u.users_id) %>
	<tr>
		<% @u = Group.find_by(users_id: @user.id, id: params[:id]) rescue nil %>
		<%if @u != nil%>
		<td><%= @user.email %>(Leader)</td>
		<%else%>
		<td><%= @user.email %>(Member)</td>
		<%end%>

	</tr>

</table>
<br>
<% attendancept = Attendance.where(user_id: @user.id, event: "PT")%>
<% attendancellab = Attendance.where(user_id: @user.id, event: "LLAB")%>

Missed PT:
<%= attendancept.count %>
<table>
	<% attendancept.each do |a|%>

	<th> Date missed: </th>
	<tr>
		<td> <%= a.created_at%> </td>
	</tr>

	<% end %>
</table>
<br>
Missed LLAB:
<%= attendancellab.count %>
<table>
	<% attendancellab.each do |a|%>

	<th> Date missed: </th>
	<tr>
		<td> <%= a.created_at%> </td>
	</tr>

	<%end%>
</table>

<% end %>