<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Excused Users</h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>

				<th>Excused LLAB</th>
				<th>Excused PT</th>

			</thead>
			<tbody>
				<% @ptusers = User.where(ptexcuse: true) rescue nil%>
				<% @llabusers = User.where(llabexcuse: true) rescue nil%>

				<tr>
					<td>
					<table class="table">
						<thead>
							<th>Name</th>
							<th>Days Excused</th>
							<th colspan="3">Remove</th>
						</thead>
						<tbody>
							<%if @llabusers!= nil%>

							<%@llabusers.each do |user|%>
							<% @days = user.excused_llab_days.split("::")
               				 @string = ""
                			@days.each do |day|
                			  @string = @string+" "+day
               				 end%>
							<tr>
								<td><%= user.fname+" "+user.lname%></td>
								<td><%= @string %></td>
								<td><%= button_to "Remove LLAB Excuse", remove_llab_excuse_path(user.id), :class => 'btn btn-danger'%></td>
							</tr>
							<%end%>
							<%end%>
						</tbody>
					</table></td>
					<td>
					<table class="table">
						<thead>
							<th>Name</th>
							<th>Days Excused</th>
							<th colspan="3">Remove</th>
						</thead>
						<tbody>
							<%if @ptusers!= nil%>
							<%@ptusers.each do |user|%>
							<% @days = user.excused_pt_days.split("::")
                			@string = ""
               				 @days.each do |day|
                  			@string = @string+" "+day
                			end%>
							<tr>
								<td><%= user.fname+" "+user.lname%></td>
								<td><%= @string %></td>	
								<td><%= button_to "Remove PT Excuse", remove_pt_excuse_path(user.id), :class => 'btn btn-danger'%></td>
							</tr>
							<%end%>
							<%end%>
						</tbody>
					</table></td>
				</tr>

			</tbody>
		</table>
		<%= link_to 'Add/Update/Remove Excused Users', new_excused_users_path, :class => 'btn btn-primary' %>
	</div>
</div>

