<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Record Attendance For <%= params[:event] %></h3>
	</div>
	<div class="panel-body">
		<div class="container">
			<a data-toggle="collapse" class='text-muted' data-parent="#accordion" href="#accordionThree">
			<p class='text-muted'>
				Detailed Instructions (Please read first if doing this first time!)
			</p></a>
			<div id="accordionThree" class="panel-collapse collapse">
				<div class="panel-body">
					<h4> Before you start: </h4>
					<p>
						~Make sure you have no javascript blockers active if you are to use this page! You should only see 1 "Select Event" and 1 "Absent Users" box each. If you see 2 enable javascript and reload/refresh the page.
					</p>
					<p>
						~You are only allowed to record attendance on the day PT or LLAB is on. If you made a mistake, resubmit the form with your adjustments
					</p>
					<p>
						~You have unlimited number of submissions, however, you are limited to the day the PT or LLAB is on
					</p>
					<p>
						~An SMS and email will be sent to a user once the form is submitted. Please keep submissions to a minimum for everyones sanity :)
					</p>
					<p>
						~Lists are dynamically updated based on excused users. If user has alternate PT but not LLAB then user will only show up for attendance if you select LLAB and this group is not an alternate PT/LLAB group.
					</p>
				</div>
				<div class="panel-body">
					<h4> Field and Options Definitions: </h4>
					<p>
						~Event - Select whether you are taking attendance for PT or LLAB. This list is updated dynamically so you will not get an option to take attendance for PT if today is not a PT day etc.
					</p>
					<p>
						~Absent users - Select users that are absent. List populates dynamically based on which user is excused on which day. If today is both PT and LLAB day list will update itself based on what is selected in event menu. If you see 2 boxes instead on 1 please enable javascript.
					</p>
				</div>

			</div>
			<%= form_for(@attendance) do |f| %>

			<% if @attendance.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

				<ul>
					<% @attendance.errors.full_messages.each do |message| %>
					<li>
						<%= message %>
					</li>
					<% end %>
				</ul>
			</div>
			<% end %>
			<div id="selection">

				<%= f.label "Absent Users" %> <i> ~Only select absent users.</i>
				<%= select_tag(:user_ids, options_for_select(users_in_group(params[:group_id], params[:event]).collect {|u| [(u.fname+" "+u.lname), u.id]}),{data:{live_search: "true"},:id=>"sel",:class => 'form-control',:placeholder=>"Click here to select all absent users. Leave blank if all present", :multiple => true, :name=>'project[user_ids][]'}) %>
				<%= f.hidden_field :groups_id, :value=>params[:group_id]%>
				<%= f.hidden_field :event, :value=>params[:event]%>
			</div>
			<div class="actions">
				<%= f.submit 'Submit', data: {confirm: 'Please review your selections hence your changes are permanent. Press cancel if you wish to make a change, otherwise press OK', toggle: "modal", target: '#myModal'  }, :class=>'btn btn-primary' %>
			</div>

			<% end %>
		</div>
	</div>
</div>

<!-- Loading Modal -->
<div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Updating records and notifying users... Please wait.</h4>
			</div>
			<div class="modal-body">
				<div class="progress">
					<div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- JQuery code to  show the form -->
<script type="text/javascript">
	$(document).ready(function() {
		$("div#llab").hide();
		$("select#event").bind("change", function() {
			if ($(this).val() == "PT") {
				$("div#pt").show();
				$("div#llab").hide();
			} else {
				$("div#llab").show();
				$("div#pt").hide();
			}
		})
	})

</script>

<script>
	$(document).ready(function() {
		$('select').selectpicker();
	}); 
</script>
