<%= form_for(@attendance) do |f| %>
<% if @attendance.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

	<ul>
		<% @attendance.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<% @group = params[:group_id] %>
<% @usersingroup = InGroup.where(groups_id: @group) %>
<% @userarray = Array.new %>
<% @usersingroup.each do |u| %>
<% @us = User.find_by_id(u.users_id) %>
<% @userarray << @us %>
<% end %>

<%= f.label "PT or LLAB?" %>
<br>
<%= f.select :event, options_for_select(["PT", "LLAB"]) %>
<br>
<%= f.label "Select absent users" %>
<br>

<%= select_tag :user_ids, options_for_select(@userarray.collect {|u| [u.email, u.id]}),:multiple => true, :name=>'project[user_ids][]' %>

<div class="actions">
	<%= f.submit %>
</div>
<% end %>
