<h1>Absence Records</h1>
<%@currentgroup = Group.find_by_id(params[:attgroup_id])%>
<%@currentuserattendance = Attendance.where(tracker_id: @currentgroup.users_id)%>



<table>
  <thead>
    <tr>
      <th>
      	Absent user
      </th>
      <th>
      	Event
      </th>
      <th>
      	Recorded Date
      </th>
      <th>
      	Tracker
      </th>
      <th>
      	Remove Record
      </th>
    </tr>
  </thead>

  <tbody>
    <% @currentuserattendance.each do |attendance| %>
    
      <tr>
        <td><%= User.find_by_id(attendance.user_id).email %></td>
        <td><%= attendance.event %></td>
        <td><%= attendance.created_at %></td>
        <td><%= User.find_by_id(attendance.tracker_id).email %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance', new_attendance_path %>
<%= link_to 'Groups Back', groups_path %>
