<h1>Absence Records</h1>
<%@currentuserattendance = Attendance.where(tracker_id: current_user.id)%>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currentuserattendance.each do |attendance| %>
    
      <tr>
        <td><%= User.find_by_id(attendance.user_id).email %></td>
        <td><%= attendance.event %></td>
        <td><%= attendance.created_at %></td>
        <td><%= User.find_by_id(attendance.tracker_id).email %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance', new_attendance_path %>
<%= link_to 'Groups Back', groups_path %>
