<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Attendance Records</h3>
	</div>
	<div class="panel-body">
		<% @currentgroup = Group.find_by_id(params[:attgroup_id]) rescue nil %>
		<% if @currentgroup != nil %>
		<% @currentuserattendance = Attendance.where(groups_id: @currentgroup.id) rescue nil %>
		<h1>Absence Records For Group: <%= @currentgroup.name %></h1>

		<table class='table'>
			<thead>
				<tr>
					<th> Absent user </th>
					<th> Event </th>
					<th> Recorded Date </th>
					<th> Tracker </th>
					<th> Remove Record </th>
				</tr>
			</thead>

			<tbody>
				<% @currentuserattendance.each do |attendance| %>

				<tr>
					<td><%= User.find_by_id(attendance.user_id).email %></td>
					<td><%= attendance.event %></td>
					<td><%= attendance.created_at.to_datetime.to_formatted_s(:long) %></td>
					<%if attendance.tracker_id==nil%>
					<td>Tracker account was destroyed</td>
					<%else%>
					<td><%= User.find_by_id(attendance.tracker_id).email %></td>
					<%end%>
					<td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger' %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<% else %>
		<% @currentuserattendance = Attendance.where(groups_id: nil) rescue nil %>
		<h1>Absence Records For Group: Deleted!</h1>
		<table class='table'>
			<thead>
				<tr>
					<th> Absent user </th>
					<th> Event </th>
					<th> Recorded Date </th>
					<th> Tracker </th>
					<th> Assign Group</th>
					<th> Remove Record </th>
				</tr>
			</thead>

			<tbody>
				<% @currentuserattendance.each do |attendance| %>

				<tr>
					<td><%= User.find_by_id(attendance.user_id).email %></td>
					<td><%= attendance.event %></td>
					<td><%= attendance.created_at.to_datetime.to_formatted_s(:long) %></td>
					<%if attendance.tracker_id==nil%>
					<td>Tracker account was destroyed</td>
					<%else%>
					<td><%= User.find_by_id(attendance.tracker_id).email %></td>
					<%end%>
					<td><%= link_to 'Update', update_attendance_form_path(attendance.id), :class => 'btn btn-warning'%></td>
					<td><%= link_to 'Destroy', attendance(:id => attendance.id, :attgroup_id => @currentgroup.id), method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger' %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		
		<% end %>
		<%= link_to 'Insert Attendance Record', insert_attendance_path(Group.find_by_id(params[:attgroup_id]).id), :class => 'btn btn-primary' %>
		<br>
	</div>
</div>
